body {
 	background-color: #444;
}

div.container {
	width: 100%;
	margin : 0 auto;
	/*padding: 50px 10px;*/
	
	/*overflow: hidden;*/
	min-height : 500px;
	/*position: relative;*/
}

.badboy {
	width 	  	: 0 	!important;
	height    	: 0 	!important;
	min-width 	: 0 	!important;
	min-height	: 0 	!important;
	float 		: none 	!important;
	clear 	  	: both 	!important;
	border 		: none  !important;
}

/*div.gallery {
	margin : auto auto;
	position	: relative;
	width   	: 10000px;
	-webkit-transition: left 1s ease-out;
}*/

/*div.gallery > div {
	float  : left;
	box-shadow: 0px 0px 50px yellow;
	border : 10px solid white;
	width  : 200px;
	height : 200px;
	margin-left: 20px;
	margin-top : 100px;
	color : yellow;
	text-align: center;
	font-size: 90px;
	font-weight: bold;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-transition:width 1.2s, height 1.2s,margin-top 1.2s;
}
*/
/*#first {
	width  : 450px;	
	height : 450px;
	margin-top : 0;
}*/

/*div.gallery > div:first-child {
	margin-left: 0;
}
*/
div.top {
	height 			:70px;
	background-image:url('../images/menu-back.png');
}

nav.mainnav {
	padding			: 0;
	margin 			: 0;
	display 		: block;
	background-image:url('../images/menu-back.png');
}

nav.mainnav menu {
	list-style-type	: none;
	width 			: 500px;
	margin 			: 0 auto;
}

nav.mainnav menu li {
	height 		: 70px;
	float 		: left;
}

nav.mainnav menu li a {
	text-decoration : none;
	color 			: white;
	text-transform 	: uppercase;
	font-family 	: Arial "Times New Roman" Tahoma;
	font-weight 	: bold;
	font-size 		: 14px;
	display 		: block;
	padding 		: 22px 30px;
	text-align 		: center;
}

nav.mainnav menu li:hover a {
	color 	:gray;
}